#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  border: 2px solid white;
  width: 400px;
  height: 500px;
  background-color: white;
  font-size: large;
  padding: 40px;
}
label{
  color: black;
}
form{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

input {
  display: flex;
  flex:1;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 2px;
  height: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

button{
  /* width: 300px; */
  background-color: rgb(61, 61, 255);
  display: flex;
  justify-content: center;
  
}
/* #username{
  width: 300px;
  background-color: white;
  border: 1px solid black;
}
#password{
  width: 300px;
  background-color: white;
  border: 1px solid black; */
/* } */

.heading{
  color: black;
  font-family: 'Arial';
}
p{
  color: black;
}